.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

.header_menu {
    width: 40vw;
}

.main_menu {
    width: 44em;
}

@media (max-width: 1040px) {
    .menu {
        display: none;
    }
}