.text_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-top: 18em;
    padding-bottom: 6em;

    background-color: #28293E;
}

@media (max-width: 1040px) {
    .text_wrapper {
        padding-top: 6em;
    }
}