.navbar_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1em;

    background-color: #FDF0E9;
    height: 10em;

}

/*@media (max-width: 1040px) {*/
/*    .navbar_wrapper {*/
/*        display: none;*/
/*    }*/
/*}*/