.text_wrapper {
    position: relative;
}

.main_text {
    font-family: Epilogue-Regular;
    font-size: 16pt;
    color: rgb(57, 20, 0.64);
    user-select: none;
}

.line {
    display: none;
    width: 100%;
    height: 0.12em;
    border-radius: 0.5em;

    position: absolute;
    top: 110%;
}


.main_line {
    background-color: rgb(57, 20, 0.64);
}

.chose_line {
    background-color: #16CD53;
}

.chose_main_text {
    color: #16CD53;
}